<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="market.goldandgo.videonew1">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:name=".Object.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>


        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Biged"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Previewmovie"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Rule"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Upload"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GalleryUtil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mymovies"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FakeDialog"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Mydownloadmanager"
            android:screenOrientation="portrait" />
        <activity
            android:name=".webviewdownloader"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Detail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SeriesDetail"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Readmore"
            android:screenOrientation="portrait" />

        <activity
            android:name=".EditMovies"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditBiged"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Search"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Freegold"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Blockdownloader"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Blockvideochoice"
            android:screenOrientation="portrait" />

        <activity
            android:name=".gandg.videoplayer.Videoplayer"
            android:screenOrientation="landscape"
            android:theme="@style/videotheme" />
        <activity
            android:name=".Coingame"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Choicetoview"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Easymyvideoplayer"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:theme="@style/videotheme" />

        <activity
            android:name=".Myexoplayer"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="landscape" />

        <service android:name=".service.MydownloadService" />

        <activity
            android:name=".Ads"
            android:screenOrientation="portrait" />
        <activity android:name=".SecondActivity" />


        <activity
            android:name=".Utils.imageCroper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Picker"/>

        <service android:name=".Utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".Utils.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".Utils.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".Utils.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>


        <service
            android:name=".service.Firebaseservcie"
            android:exported="false"
              />


        <receiver android:name=".service.Networkreceiver">
            <intent-filter>
                <action android:name="com.android.gogoal" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>